/*
 * encoding: utf-8
 *
 * This file is a part of WeRB project.
 * License: LGPLv3+
 *
 */

.werb-container,
.werb-panel,
.panel-sidebox {
  position : absolute;
  height : 100%;
}

#werb-upper {
  position : fixed;
  top : 100px;
  left : 0px;
  width : 40px;
  bottom : 10px;
  background-color : gray;
  background-image : url(/img/up.png);
  background-repeat : no-repeat;
  background-position : center 10px;
  cursor : pointer;
  opacity : 0;
}

#werb-upper:hover {
  opacity : 1;
}
